<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
            <th scope="col">Website</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of arr">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.username}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.website}}</td>
        </tr>
    </tbody>
</table>
